{% extends 'base.html.twig' %}

{% block title %}Ajouter un événement{% endblock %}

{% block javascripts %}
    {% block importmap %}{{ importmap('add-event') }}{% endblock %}
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center min-vh">
    {{ form_start(form, {'attr': {'class': 'form-container text-center'}}) }}
        <h1 class="mb-4 font-weight-bold">Créer un évènement</h1>

        {% if form.vars.errors|length > 0 %}
            <div class="alert alert-danger">
                <ul>
                    {% for error in form.vars.errors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="form-group">
            {{ form_row(form.Titre, {'attr': {'class': 'custom-input bg-blue'}}) }}
        </div>

        <div class="form-group">
            {{ form_row(form.Description, {'attr': {'class': 'custom-input min-height bg-blue'}}) }}
        </div>

        <div class="form-group">
            {{ form_row(form.Nombre_de_joueur, {'attr': {'class': 'custom-input bg-blue'}}) }}
        </div>

        <div class="row">
            <div class="col form-group">
                {{ form_row(form.date_heure_debut, {'attr': {'class': 'custom-input bg-blue'}}) }}
            </div>
            <div class="col form-group">
                {{ form_row(form.date_heure_fin, {'attr': {'class': 'custom-input bg-blue'}}) }}
            </div>
        </div>

        <div class="row">
            <div class="col form-group">
                {{ form_row(form.Image, {'attr': {'class': 'custom-input bg-blue'}}) }}
            </div>
            <div class="col form-group">
                <button type="submit" class="btn bg-pink custom-btn">Validez</button>
            </div>
        </div>

        <div class="preview">
            <img src="" alt="" width="300">
        </div>
        
    {{ form_end(form) }}
</div>
{% endblock %}
