{% extends 'base.html.twig' %}

{% block title %}Détail de l'événement{% endblock %}

{% block body %}
<div class="min-vh text-white text-center bg-color">
    <h1 class="font-weight-bold mb-5 pt-4">{{ event.Titre }}</h1>
    <p class="detail bg-blue mb-5">Description : {{ event.description }}</p>
    <p class="detail bg-blue mb-5">Nombre de joueurs : {{ event.getNombreDeJoueur() }}</p>
    <p class="detail bg-blue mb-5">Joueurs inscrits : {{ nombreParticipants }}</p>

    <div class="d-flex justify-content-center mb-5">
        <p class="detail bg-blue me-2">Date de début : {{ event.dateHeureDebut|date('d/m/Y H:i') }}</p>
        <p class="detail bg-blue">Date de fin : {{ event.dateHeureFin|date('d/m/Y H:i') }}</p>
    </div>
    <p class="detail bg-blue mb-5">Organisé par : {{ event.pseudo is not null ? event.pseudo.pseudo : 'Anonyme' }}</p>

    {% if event.image %}
        <div>
            <img src="{{ asset('uploads/Event/' ~ event.image) }}" alt="test" class="mb-5" style="max-width: 300px;">
        </div>
    {% else %}
        <p class="text-white">Aucune image pour cet événement</p>
    {% endif %}

    <div class="d-flex justify-content-center mb-5">
        <form action="{{ path('add_favori', {'id': event.id}) }}" method="post">
            <button type="submit" class="bg-pink btn-lg btn custom-btn" 
                    {% if nombreParticipants >= event.getNombreDeJoueur() %} disabled {% endif %}>
                S'inscrire
            </button>
        </form>
    </div>

    <div class="text-center pb-5">
        <a href="{{ path('app_event') }}" class="text-white h5">Retour à la liste des événements</a>
    </div>
</div>
{% endblock %}
