{% extends 'base.html.twig' %}

{% block title %}event{% endblock %}

{% block body %}
<div class="min-vh">
    <h1 class="text-center font-weight-bold mb-4">TOUS LES EVENEMENTS</h1>
    <div class="d-flex justify-content-center mb-4">
        <div class="custom-presentation p-3">
            <div class="mb-2">
            <!-- Filtre par nombre de joueurs -->
                <label for="playerFilter">Nombre minimum de joueurs :</label>
                <input type="number" id="playerFilter" min="1" class="filter-input" oninput="filterEvents()">
            </div>
            <div class="mb-2">
            <!-- Filtre par date de début -->
                <label for="dateFilter">Date du début :</label>
                <input type="date" id="dateFilter" class="filter-input" oninput="filterEvents()">
            </div>
            <div class="mb-2">
            <!-- Filtre par date de fin -->
                <label for="dateEndFilter">Date de fin :</label>
                <input type="date" id="dateEndFilter" class="filter-input" oninput="filterEvents()">
            </div>
            <div class="mb-2">
            <!-- Filtre par pseudo (champ de texte pour filtrer) -->
                <label for="pseudoFilter">Pseudo :</label>
                <input type="text" id="pseudoFilter" placeholder="Filtrer par pseudo" class="filter-input" oninput="filterEvents()">
            </div>
        </div>
    </div>
    <section id="eventList" class="d-flex flex-column align-items-center">
            {% for event in event %}
            <a href="{{ path('app_event_detail', { 'id': event.id }) }}" class="event-link">
                <div class="event-item bg-color text-white p-4 rounded mb-3 text-center" 
                    data-start-date="{{ event.dateHeureDebut|date('Y-m-d') }}" 
                    data-end-date="{{ event.dateHeureFin|date('Y-m-d')}}" 
                    data-player-count="{{ event.getNombreDeJoueur() }}"
                    data-pseudo="{{ event.pseudo is not null ? event.pseudo.pseudo|lower : '' }}">

                    <h2 class="font-weight-bold mb-2">{{ event.Titre }}</h2>
                    <p class="player-count mb-1">{{ event.getNombreDeJoueur() }} personnes max.</p>
                    <p class="event-start mb-1">Date de début : {{ event.dateHeureDebut|date('d/m/Y H:i') }}</p>
                    <p class="event-end mb-1">Date de fin : {{ event.dateHeureFin|date('d/m/Y H:i') }}</p>
                </div>
            </a>
            {% endfor %}
        </section>
</div>
<script src="{{ asset('js/filtre.js') }}"></script>

{% endblock %}
