{% extends 'base.html.twig' %}

{% block title %}Événements approuvés{% endblock %}

{% block body %}
<div class="min-vh text-center">
    <h1 class="text-center font-weight-bold mb-4">Événements approuvés</h1>
    <div class="min-vh text-white text-center bg-color">
        {% if eventsWithFavorites is not empty %}
        <table class="table bg-color text-white">
            <thead>
                <tr class="h5">
                    <th>Titre</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for data in eventsWithFavorites %}
                {% set event = data.event %}
                <tr>
                    <td>{{ event.Titre }}</td>
                    <td>{{ event.dateHeureDebut|date('d/m/Y H:i') }}</td>
                    <td>{{ event.dateHeureFin|date('d/m/Y H:i') }}</td>
                    <td>
                        {% if event.status == 'approved' %}
                            <span class="badge badge-approved">Approuvé</span>
                        {% else %}
                            <span class="badge badge-danger">Non approuvé</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('app_modifier_event', {id: event.id}) }}">
                            <button class="text-white btn btn-warning me-4">Modifier</button>
                        </a>

                        <a href="{{ path('app_activate_event', {id: event.id}) }}">
                            <button class="btn btn-light">Activer</button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="pt-2">
                        <strong>Inscrits:</strong>
                        <ul>
                            {% for favori in data.favoris %}
                                <li class="pt-2 mb-2">{{ favori.idPseudo.pseudo }}</li>
                                
                                {% if favori.blocked %}
                                    <button class="btn btn-secondary" disabled>Utilisateur bloqué</button>
                                {% else %}
                                    <a href="{{ path('block_favori', {favoriId: favori.id}) }}" class="btn btn-danger">Bloquer l'utilisateur</a>
                                {% endif %}
                            {% else %}
                                <li>Aucun utilisateur n'a ajouté cet événement dans ses favoris.</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>Aucun événement approuvé disponible.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
