{% extends 'base.html.twig' %}

{% block title %}Mes événements{% endblock %}

{% block body %}
<div class="min-vh text-center">
    <h1 class="text-center font-weight-bold mb-4">Mes événements</h1>
    <div class="min-vh text-white text-center bg-color">
        {% if events is not empty %}
        <table class="table bg-color text-white">
            <thead>
                <tr class="h5">
                    <th>Titre</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.Titre }}</td>
                    <td>{{ event.dateHeureDebut|date('d/m/Y H:i') }}</td>
                    <td>{{ event.dateHeureFin|date('d/m/Y H:i') }}</td>
                    <td>
                        {% if event.status == 'rejected' %}
                            <span class="badge badge-danger">Rejected</span>
                        {% elseif event.status == 'approved' %}
                            <span class="badge badge-approved">Approved</span>
                        {% else %}
                            {{ event.status }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('app_modifier_event', {id: event.id}) }}"><button class="text-white btn btn-warning me-4">Modifier</button></a>
                        
                        {# Logique pour le bouton Activer #}
                        {% set currentDateTime = "now"|date('U') %}
                        {% set eventStartTime = event.dateHeureDebut|date('U') %}
                        {% set isThirtyMinutesBefore = eventStartTime <= (currentDateTime + 1800) and eventStartTime > currentDateTime %}

                        <a href="{{ path('app_activate_event', {id: event.id}) }}">
                            <button class="btn btn-light {% if not isThirtyMinutesBefore %}disabled{% endif %}">Activer</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>Vous n'avez créé aucun événement pour le moment.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
