{% extends 'base.html.twig' %}

{% block title %}Événements en attente{% endblock %}

{% block body %}
<div class="min-vh text-center">
    <h1 class="text-center font-weight-bold mb-4">Événements en attente</h1>
    <div class="min-vh text-white text-center bg-color">
        {% if events is not empty %}
        <table class="table bg-color text-white">
            <thead>
                <tr class="h5">
                    <th>Titre</th>
                    <th>Utilisateur</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.Titre }}</td>
                    <td>{{ event.pseudo.pseudo }}</td>
                    <td>{{ event.dateHeureDebut|date('d/m/Y H:i') }}</td>
                    <td>{{ event.dateHeureFin|date('d/m/Y H:i') }}</td>
                    <td>{{ event.status }}</td>
                    <td>
                        <a href="{{ path('event_pending_approve', {id: event.id}) }}" class="text-white btn btn-success me-4">Approuver</a>
                        <a href="{{ path('event_pending_reject', {id: event.id}) }}" class="text-white btn btn-danger">Rejeter</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p class="text-white h5">Aucun événement en attente.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
