{% extends 'base.html.twig' %}

{% block title %}Espace user{% endblock %}

{% block body %}
<div class="pt-4 min-vh">
    <h1 class="mb-4 font-weight-bold text-center">Profil de {{ app.user.pseudo }}</h1>
    <p class="custom-presentation text-center bg-color">
    Bienvenue sur votre espace, ici vous pouvez créer un évènement et nous controlerons qu'il est bien en règle.Une fois approuver il sera affiché sur notre site.</br>
    Vous pouvez voir où il en est dans la rubrique "Mes évènements".</br>
    Si vous avait des propos injurieux ou toute autre evenement qui ne respecte pas les regles de notre site, nous pouvons vous bloquez l'accès à un évènement !</br>
    Enfin sachez que vous pouvez activer 30min en avance votre évènement ! Pour l'activer se sera également dans la rubrique "Mes évènements".</br>
    </p>
    <div class="d-flex justify-content-center pt-5">
        <div class="button-grid">
            <a href="{{ path('app_mes_favoris') }}" class="custom-btn bg-blue">Mes inscriptions</a>
            <a href="{{ path('app_ajout_event') }}" class="custom-btn bg-blue">Créer un évènement</a>
            <a href="{{ path('app_mes_events') }}" class="custom-btn btn-events bg-pink">Mes événements</a>
            <a href="{{ path('app_historique_score') }}" class="custom-btn bg-color">Historique des scores</a>
            <a href="{{ path('app_logout') }}" class="custom-btn bg-color ">Se déconnecter</a>
        </div>
    </div>
</div>
{% endblock %}
